<div *ngIf="labelTxt" class="text-field">
  <div style="display: flex; justify-content: end;">
    <div style="cursor: pointer;">
      <ion-icon (click)="setEditFields()" name="settings-outline"></ion-icon>
      <ion-icon (click)="setRemoveField()" name="close-circle-outline"></ion-icon>
    </div>
  </div>
  <ion-item>
    <ion-checkbox [formControl]="f" slot="start"></ion-checkbox>
    <ion-label>{{labelTxt}}</ion-label>
  </ion-item>
</div>
<div style="padding: 4px 0px 2px 0px;">
  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
    validation: requiredValidation.validationType,
    message: requiredValidation.validationMessage ?? 'This field is required',
    control: f
  }">
  </ng-container>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="f.hasError(validation) && f.dirty">
    <div class="error-msg">
      <span style="color: red" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
