.form-fields {
  list-style-type: none;
  padding: none;
}

ion-item {
  padding: 4px 0px 6px 0px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}